/* 侧边栏 */
.sidebar-menu-custom{
    width: 20%;
    height: 100%;
    float : left;
}
/* 右主体 */
.right-body{
    width: 79.5%;
    height: 100%;
    float : left;
}
.menu-list-custom{
    text-align: center;
    padding: 0;
}
.menu-list-custom li{
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    cursor:pointer;
}
.menu-list-custom li:hover{
    background-color: rgba(200, 255, 255, 0.75);
}