/* 容器 */
.course-content{
    width : 100%;
    height: auto;
}
/* 显示照片 */
.course-book-image{
    width : 35%;
    height: auto;
    border-radius: 0.5em;
    float : left;
    box-shadow : rgba(0, 0, 0, 0.4) 0.75em 0.75em 0.75em;
    overflow: hidden;
    text-align: center;
    margin: 0 1.5em;
}
    .course-book-image img {
        height: 100%;
        width: auto;
        transition: all 0.5s;
    }
        .course-book-image img:hover {
            transform: scale(1.1);
        }
/* 显示详情 */
.table-view-book-detail{
    width : 60%;
    height: auto;
    float : left;
}
.detail-info{
    text-indent: 2em;
    width : 100%;
    height: auto;
    /* 火焰效果，虽然很炫酷，但是画上去会变得很乱很花哨
        text-shadow: 0 0 4px white,
        0 -5px 4px #ff3,
        2px -10px 6px #fd3,
        -2px -15px 11px #f80,
        2px -25px 18px #f20;*/
    font-size: 1.125em;

}