<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>湖北大学学生成绩管理系统</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <!--顶上黑色页眉-->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <!--根据登陆情况决定跳转页面-->
                @if (Session["account"].ToString() == "请先登录")
                {
                    @Html.ActionLink("湖北大学学生成绩管理系统", "../Login/Login", "Login", new { @class = "navbar-brand" })
                }
                else
                {
                    @Html.ActionLink("湖北大学学生成绩管理系统", "../Home/Home", "Home", new { @class = "navbar-brand" })
                }
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <footer style="margin-top: 0">
            <hr />
            <p>2016级软件工程产业计划1601班 第二小组 -- 柳景兴、付凯文制</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>