
@{
    ViewBag.Title = "登陆";
}
<head>
    <script type="text/javascript" src="~/scripts/jquery-1.10.2.js"></script>
    <!-- 更换验证码 来自CSDN -->
    <script type="text/javascript">
        $(function () {
            $('#login_verifycode').click(function () {
                $("#verifycode").val('');
                $("#login_verifycode").attr("src", "/Login/VerifyCode?time=" + Math.random());
            })
        })
    </script>
    <!--错误弹窗提示-->
    <script type="text/javascript">
        window.onload = function () {
            if ("@ViewBag.Message" != "") {
                alert("@ViewBag.Message");
            }
            document.getElementsByTagName("footer")[0].style.marginTop = document.getElementsByClassName("bgc")[0].offsetHeight + "px";
        }
    </script>
    <link rel="stylesheet" href="~/Content/Login/login.css" />
</head>

<div class="bgc">
    <div class="top">
        <img src="~/images/backgrounds/dh.png" />
    </div>
    <div class="login">
        <!-- 用表格保持格式 -->
        <table class="input-box">
            @using (Html.BeginForm("Login", "Login", FormMethod.Post))
            {
                <!--
                Post方法提交：对应LoginController下的Login[HttpPost]方法，进行登陆验证
                    接收用户名(id)、密码(pwd)、验证码(verifycode)，同时验证三个变量是否正确
                    1、id和pwd查找数据库的密码表，找到了再验证验证码是否正确，否则直接报错
                    2、验证码通过jQuery与后台逻辑(LoginController下的VerifyCode[HttpPost]方法)一起实现
                -->
                <tr>
                    <td class="label-tips">用户名：</td>
                    <td><input type="text" name="id" required oninput="ValidateInput(this)" value="@ViewBag.Id" /></td>
                </tr>
                <tr>
                    <td class="label-tips">密码：</td>
                    <td><input type="password" name="pwd" required oninput="ValidateInput(this)" value="@ViewBag.Password" /></td>
                    <td class="third-td"><button>忘记密码</button></td>
                </tr>
                <tr>
                    <td class="label-tips">验证码：</td>
                    <td><input type="text" name="verifycode" required oninput="ValidateInput(this)" /></td>
                    <td class="third-td">
                        <img id="login_verifycode" class="img_verifycode" src="/Login/VerifyCode" />
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <input type="submit" value="登陆" class="click-button" />
                    </td>
                </tr>
            }
        </table>
    </div>
</div>