<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>湖北大学学生成绩管理系统</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/_LayoutHeader.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <img src="~/icons/customer.png" class="portrait" />
                @Html.ActionLink("湖北大学学生成绩管理系统", "Home", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            <div class="id left">
                <div class="id lab left">账号：</div>
                <div class="id display left">@Session["login"]</div>
                <!-- 拿到全局变量session作为用户名 -->
            </div>

            <div class="id left">
                <!-- 根据用户名判断身份 -->
                <div class="id lab left">身份：</div>
                @if (Session["login"].ToString().Length > 10)
                {
                    <div class="id lab left">学生</div>
                }
                else if (Session["login"].ToString().Length >=8 && Session["login"].ToString().Length < 10)
                {
                    <div class="id lab left">教师</div>
                }
                else if (Session["login"].ToString().Contains("请"))
                {
                    <div class="id lab left">游客</div>
                }
                else
                {
                    <div class="id lab left">管理员</div>
                }
            </div>

            @if ("[请先登录]".Equals(Session["login"].ToString()))
            {
                <button class="quit" style="width: 4em;">登陆</button>
            }
            else
            {
                <button class="quit" style="width: 4em;">退出登录</button>
            }
        </div>
    </div>
    <!-- 主体部分 -->
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer style="text-align: center;">
            <p>&copy; @DateTime.Now.Year - 2016级软件工程产业计划1601班第2组项目成果</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>