/* 页眉大标题 */
.show-header{
    background-color: rgba(30, 90, 0, 0.9);
    font-size: 2.5em;
    text-align: center;
    padding: 1em;
    color: white;
}
/* 输入表格排版 */
.input-table-view{
    text-align: center;
    margin: 1.5em auto;
}
/* 让表格间稍微带一点距离 */
.distance-among-input{
    margin: 0 1.5em;
}
/* div容器，展示所有书 */
.book-shelf{
    width: 95%;
    height: 80%;
    margin: 0 auto;
    border-radius: 0.5em;
    border: solid 0.1em lightgrey;
    overflow: hidden;
}
/* 区分学年 */
.book-classfication{
    width: 100%;
    height: 5%;
    text-align: center;
    font-size: 1.35em;
    color : lightgrey;
    background-color: rgba(30, 90, 0, 0.75);
}
.book-shelf-space{
    width : 93%;
    margin: 0 auto;
    height: 100%;
}
/* 单个书本 */
.book-item{
    padding: 0.15em;
    width: 20%;
    height: 20%;
    float: left;
    margin: 0.5em auto;
    border-radius: 0.35em;
}
/* 书本图片 */
.book-image{
    padding: 0.15em;
    width: 100%;
    height: 60%;
    margin: 0 auto;
    border-radius: 0.35em;
    overflow: hidden;
}
.book-image img{
    width: 100%;
    height: 100%;
    transition: all 0.5s; /* 0.5秒内变化，配合hover使用 */
}
.book-image img:hover{
    transform: scale(1.1); /* 放大1.1倍 */
}
/* 书本名字 */
.book-name{
    width: 100%;
    height: 20%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    font-size: 1.125em;
    font-weight: 600;
    white-space: nowrap;
}
/* 管理员专有 - 对书本的操作 */
.operation{
    width: 99%;
    height: 20%;
    margin: 0 auto;
    text-align: center;
}
    /* ul会很奇怪，就改用div */
    .operation div {
        width: 33.33%;
        height: 100%;
        float: left;
        cursor: pointer;
        border: solid 0.1em white;
    }
        /* 高亮 */
        .operation div:hover {
            border: solid 0.1em lightgrey;
            border-radius: 0.25em;
            background-color: lightgrey;
        }